version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "Type: Hygiene :broom:"
      - "Needs: Attention :wave:"
    commit-message:
      prefix: 'build: '

