name: Pre-Release Tests

on:
  pull_request:
    branches:
      - main
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  release-tests:
    name: Pre-Release Tests
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout Repo
        id: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Pester Tests
        id: pester
        if: contains(github.head_ref, 'release')
        uses: azure/powershell@53dd145408794f7e80f97cfcca04155c85234709 # v2.0.0
        with:
          inlineScript: |
            Import-Module Pester -Force
            $pesterConfiguration = @{
              Run    = @{
                Container = New-PesterContainer -Path "./.github/pester/release.tests.ps1"
                PassThru  = $true
              }
              Output = @{
                Verbosity = 'Detailed'
              }
            }
            $result = Invoke-Pester -Configuration $pesterConfiguration
            exit $result.FailedCount
          azPSVersion: "latest"


