name: Artifacts

on:
  release:
    types: [ published ]
  workflow_dispatch:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  release:
    name: Generate Accelerator Release Artifacts
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
      with:
        egress-policy: audit

    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Zip and Tar
      run: |
        mkdir staging
        cp -r accelerator staging
        cp -r infra-as-code staging
        cd staging
        tar -cvzf ../accelerator.tar.gz .
        zip -r ../accelerator.zip .

    - name: Upload Artifacts to Action
      uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
      with:
        name: accelerator
        path: |
          accelerator.tar.gz
          accelerator.zip

    - name: Add Artifacts to Release
      uses: softprops/action-gh-release@c95fe1489396fe8a9eb87c0abf8aa5b2ef267fda # v2.2.1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          ./accelerator.tar.gz
          ./accelerator.zip
