name: Artifacts

on:
  release:
    types: [ published ]
  workflow_dispatch:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  release:
    name: Generate Accelerator Release Artifacts
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Zip and Tar
      run: |
        mkdir staging
        cp -r accelerator staging
        cp -r infra-as-code staging
        cd staging
        tar -cvzf ../accelerator.tar.gz .
        zip -r ../accelerator.zip .

    - name: Upload Artifacts to Action
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: accelerator
        path: |
          accelerator.tar.gz
          accelerator.zip

    - name: Add Artifacts to Release
      uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          ./accelerator.tar.gz
          ./accelerator.zip
