name: Artifacts

on:
  release:
    types: [ published ]
  workflow_dispatch:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  release:
    name: Generate Accelerator Release Artifacts
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Zip and Tar
      run: |
        mkdir staging
        cp -r accelerator staging
        cp -r infra-as-code staging
        cd staging
        tar -cvzf ../accelerator.tar.gz .
        zip -r ../accelerator.zip .

    - name: Upload Artifacts to Action
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: accelerator
        path: |
          accelerator.tar.gz
          accelerator.zip

    - name: Add Artifacts to Release
      uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          ./accelerator.tar.gz
          ./accelerator.zip
